body{
height: 100vh;
width: 100vw;
background-color:gainsboro;
margin: 0px;
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
}

header{
height: 25%;
width: 100%;
background-color: #ffd680;
display: flex;
align-items: center;
}
.containerf1{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerh1{
    width: 70%;
    height: 100%;
}
.cajanaranja{
    background-color: #ffc86d;
    height: 75%;
    aspect-ratio: 1/1;
}

h1{
    color: #ffc86d;  
}

p{
    color: #ffffff;
}

.centro{
    height: 55%;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}
.centrob{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.azul{
    background-color: #c4edf1;
    height: 80%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
}
.rojo{
    background-color: #ff9978;
    height: 80%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
}
.naranja{
    background-color: #ffd680;
    height: 80%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
}

.oscuror{
    width: 100%;
    height: 20%;
    background-color: #f68360;
    align-self: flex-start;
}
.oscuron{
    width: 100%;
    height: 20%;
    background-color: #ffc86d;
}
.oscuroa{
    width: 100%;
    height: 20%;
    background-color: #abe0e5;
}
.oscuror2{
    width: 50%;
    height: 50%;
    background-color: #f68360;
}
.oscuron2{
    width: 50%;
    height: 50%;
    background-color: #ffc86d;
}
.oscuroa2{
    width: 50%;
    height: 50%;
    background-color: #abe0e5;
}

.container{
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;

}

.abajo{
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: space-evenly ;
    align-items: center;
    background-color: #e6e5e5;
}
.txtbox{
width: 30%;
height: 90%;
display: flex;
flex-direction: column;
justify-content: center;
align-content: flex-start;
overflow: auto;
}
.todo{
    width: 100vh;
    height: 100vh;
    display: flex;   
    flex-direction: column;
    justify-items: center;
    background-color: #e6e5e5;
}
h4{
    color: #cccbca;
}
span{
    color: #ffffff;
}